/* =========================
   SOBRE NÓS
========================= */

.sobre {
    position: relative;

    width: 90%;
    min-height: 550px;

    margin: 40px auto;
}


/* =========================
   EQUIPE
========================= */

.equipe {
    position: absolute;

    left: 0;
    bottom: 40px;

    width: 48%;
}

.equipe h3 {
    display: inline-block;

    background-color: #d9d9d9;
    color: #000000;

    font-size: 13px;
    font-weight: normal;

    padding: 6px 10px;

    margin-bottom: 8px;
}

.equipe p {
    width: 80%;

    background-color: #d9d9d9;
    color: #000000;

    margin-bottom: 7px;
    padding: 6px 10px;

    font-size: 14px;
    line-height: 1.3;
}


/* =========================
   SOBRE O CURSO
========================= */

.sobre-curso {
    position: absolute;

    right: 0;
    top: 20px;

    width: 48%;
}

.sobre-curso h3 {
    display: inline-block;

    background-color: #d9d9d9;
    color: #000000;

    font-size: 13px;
    font-weight: normal;
    
    padding: 5px 8px;

    margin-bottom: 8px;
}

.sobre-curso p {
    width: 90%;

    background-color: #d9d9d9;
    color: #000000;

    margin-bottom: 7px;
    padding: 6px 10px;

    font-size: 14px;
    line-height: 1.3;
}